[run]
source = src
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
fail_under = 40
precision = 2
show_missing = False

[html]
directory = coverage_html
