*.png
*.jpeg
*.svg
*.html
*.txt
*.log
*.json
*.csv
*.xml
*.pickle
*.pkl
*.db
*.sqlite
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
*.egg
*.whl
*.egg-info/
*.egg-info/
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/top_level.txt
*.egg-info/dependency_links.txt
*.egg-info/zip-safe
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt

*.sql
*.vql
.env
.coverage
.pytest_cache/
coverage.xml

__pycache__/
.venv/
.ropeproject
.DS_Store

PKG-INFO
SOURCES.txt
top_level.txt
build/
